
table {
  border: 1px solid blue;
  width: 450px;
}
thead {
  background-color: aqua;
  text-align: center;
  height: 40px;
}

table tr td{
  height: 25px;
}

.name{
   width: 200px;
   margin-top: 0px;
   vertical-align: top;
}

button{
  background-color:rgb(159, 199, 156);
}
